@font-face {
  font-family: Whatnot;
  src: url(../styles/fonts/Whatnot.woff);
}
@font-face {
  font-family: AgentC;
  src: url(../styles/fonts/AgentC.woff);
}

body {
  font-family: AgentC;
  background: url(../public/background.webp) no-repeat fixed;
  background-size: 100% 100%;
  padding: 32px;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: Whatnot !important;
  color: #d54d7b;
  font-size: 80px;
  line-height: 80px;
  margin: 16px;
  font-weight: normal;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
}
span {
  padding: 4px;
}

pre code {
  background-color: transparent !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
